

body{text-align:center;}
#ft{clear:both;}

#doc,#doc2,#doc3,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7 {
	margin:auto;text-align:left;
	width:57.69em;*width:56.3em;min-width:750px;}
#doc2 {
	width:73.074em;*width:71.313em;min-width:950px;}
#doc3 {
	margin:auto 10px; 
	width:auto;}
	

	.yui-b{position:relative;}
	.yui-b{_position:static;} /* for IE < 7 */
	#yui-main .yui-b{position:static;} 

#yui-main {width:100%;}
.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yi-main{float:right;margin-left:-25em;/* IE: preserve layout at narrow widths */}

.yui-t4 #yui-main,
.yui-t5 #yui-main,
.yui-t6 #yui-main{float:left;margin-right:-25em;/* IE: preserve layout at narrow widths */}

.yui-t1 .yui-b {
	float:left;
    width:12.3207em;*width:12.0106em;}
.yui-t1 #yui-main .yui-b{
    margin-left:13.3207em;*margin-left:13.0106em;
}

.yui-t2 .yui-b {
	float:left;
    width:13.8456em;*width:13.512em;}
.yui-t2 #yui-main .yui-b {
    margin-left:14.8456em;*margin-left:14.512em;
}

.yui-t3 .yui-b {
	float:left;
    width:23.0759em;*width:22.52em;}
.yui-t3 #yui-main .yui-b {
    margin-left:24.0759em;*margin-left:23.52em;
}

.yui-t4 .yui-b {
	float:right;
    width:13.8456em;*width:13.512em;}
.yui-t4 #yui-main .yui-b {
    margin-right:14.8456em;*margin-right:14.512em;
}

.yui-t5 .yui-b {
	float:right;
    width:18.4608em;*width:18.016em;}
.yui-t5 #yui-main .yui-b {
    margin-right:19.4608em;*margin-right:19.016em;
}

.yui-t6 .yui-b {
	float:right;
    width:23.0759em;*width:22.52em;}
.yui-t6 #yui-main .yui-b {
    margin-right:24.0759em;*margin-right:23.52em;
}

.yui-t7 #yui-main .yui-b {
	display:block;margin:0 0 1em 0;
}
#yui-main .yui-b {float:none;width:auto;}
/* GRIDS (not TEMPLATES) */
.yui-g .yui-u, 
.yui-g .yui-g, 
.yui-gc .yui-u,
.yui-gc .yui-g .yui-u,
.yui-ge .yui-u, 
.yui-gf .yui-u{float:right;display:inline;}
.yui-g div.first, 
.yui-gc div.first,
.yui-gc div.first div.first,
.yui-gd div.first, 
.yui-ge div.first, 
.yui-gf div.first{float:left;}
.yui-g .yui-u, 
.yui-g .yui-g{width:49.1%;}
.yui-g .yui-g .yui-u,
.yui-gc .yui-g .yui-u {width:48.1%;}
.yui-gb .yui-u, 
.yui-gc .yui-u, 
.yui-gd .yui-u{float:left;margin-left:2%;*margin-left:1.895%;width:32%;}
.yui-gb div.first, 
.yui-gc div.first, 
.yui-gd div.first{margin-left:0;}
.yui-gc div.first, 
.yui-gd .yui-u{width:76%;}
.yui-gd div.first{width:22%;}
.yui-ge .yui-u{width:24%;}
.yui-ge div.first, 
.yui-gf .yui-u{width:74.2%;}
.yui-gf div.first{width:24%;}
.yui-ge div.first{width:74.2%;}
#bd:after,
.yui-g:after, 
.yui-gb:after, 
.yui-gc:after, 
.yui-gd:after, 
.yui-ge:after, 
.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#bd,
.yui-g, 
.yui-gb, 
.yui-gc, 
.yui-gd, 
.yui-ge, 
.yui-gf{zoom:1;}

/* ffffff */
#header{
	height:100px;
	background-color:#F3F2ED;
	margin:0;
	padding:0;
	}
	
#header h1{
	font-size:1em;
	margin:0;
	padding:10px;
	}
	
#header h1 a{
	color:#000000;
	background-color:#F3F2ED;
	}
.image{
	width: 200px;
	height: 200px; 
	background-color: #F5F5F5; 
	border: solid; 
	border-radius: 10px; 
	border-color: gray; 
	box-sizing: border-box;
	
}
.image_box{
	width: 197px; 
	height: 160px; 
	background-color:transparent; 
	border-bottom: solid; 
	border-color: gray; 
	display: flex; 
	justify-content: center; 
	box-sizing: border-box; 
	padding-top: 5px;
}
.image_model{
	width: 200px;
	height:200px;
	background:#FFFFFF;
	margin: 0px;
	padding:0;
	
}
.subbox{
	width: 920px;
	display: flex;

}

.content{
	width: auto;
	height:200px;
	background:#FFFFFF;
	border-top:#FFFFFF 2px solid;
	margin:0;
	padding:0;
	border-style: solid;
	border-color: gray;
	}
	
	
#secondary{
		
	background:#F6F0E0;
	border-top:#FFFFFF 2px solid;
	margin:0;
	padding:0;
	}
	
#secondaryFull{
	height:50px;
	background-color:#CFB59F;
	border-top:#FFFFFF 2px solid;
	margin:0;
	padding:0;
	}
	
.space{
	width: 4px;
  height: auto;
  display: inline-block;
}	

.bspace{
	width: 597px;
  height: auto;
  display: inline-block;
	
}
.bspace2{
	width: 50px;
  height: auto;
  display: inline-block;
}
.btn_shop{
	width: 100px; 
	border: 1px solid #73536F; 
	border-radius: 10px; 
	background: #73536F; 
	color: white; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	cursor: pointer;
}
.btn{
	width: 100px; 
	border: 1px solid #73536F; 
	border-radius: 10px; 
	background: #73536F; 
	color: white; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	cursor: pointer;
}
.btn_content{
	width: 100px; 
	border: 1px solid #73536F; 
	border-radius: 10px; 
	background: #73536F; 
	color: white; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	cursor: pointer;
	
}

footer {
	width: 100%;
	height: 110px;
	bottom: 0px;
	position: absolute;
	border-top: 1px solid #c4c4c4;
	padding-top: 15px;
	color: #808080;
	font-size: 11px;
}

footer a{
	display: inline-block;
	margin: 0 20px 10px 20px;
	color: #808080; font-size: 11px;
}

footer a:visited{
	color: #808080;
}

footer p{
	margin-top: 0; margin-bottom: 0;
}

footer p span {
	display: inline-block;
	margin-left: 20px;
}
section{
	padding-bottom: 105px;
}

#wrap {
	min-height: 100vh;
	position: relative;
	width: 100%;
	background-color: #f2f2f2;
}
html, body{
	margin: 0;
	padding: 0;
}

.modal_overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

.modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 750px;
            height: 650px;
            position: relative;
            padding: 10px;
            left:30%;
            top:30%;
        }
        
        .modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
	display: block;
}

.modal_body {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 850px;
	/* padding: 40px; */
	/* text-align: center; */
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}

.m_head {
	height: 10%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #e7e5e5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.m_body {
	height: 80%;
	padding: 20px;
}

.m_footer {
	height: 10%;
	padding: 15px;
	background-color: #e7e5e5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: end;
}

.modal_title {
	font-size: 18px;
	color: gray;
	font-weight: 500;
}

.close_btn {
	font-size: 20px;
	color: rgb(139, 139, 139);
	font-weight: 900;
	cursor: pointer;
}

.modal_label {
	padding-top: 10px;
}

.input_box {
	width: 100%;
	border: 1px solid rgb(189, 189, 189);
	height: 30px;
}

.modal_btn {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	padding-top: 5px;
	margin-left: 5px;
	font-family: sans-serif;
}

.cancle {
	background-color: white;
	color: black;
}

.save {
	background-color: rgb(50, 77, 158);
	color: white;
}

.label_m1{
    font-size: 0.8rem;
    width:200px;	
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#userpw{
	width: 700px;
}
#nickname{
	width: 700px;
}
#userid{
	width: 700px;
}